.component-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    width: 30%;
    height: 40vh;
    max-height: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container > * {
    width: 70%;
    margin: 0 auto;
}

h1 {
    padding-top: 1em;
    text-align: center;
    padding-bottom: 1em;
}

.app-button {
    top: 5em;
}